In [43]:
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv')

data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [42]:
labels = data['Depression']
data.drop(columns=['Depression'], inplace=True)
data.drop(columns=['id'], inplace=True)
data.drop(columns=['Name'], inplace=True)
replace_dict = {
    'Gender': {'Male': 0, 'Female': 1},
    'Working Professional or Student': {'Student': 0, 'Working Professional': 1},
    'Academic Pressure': {'No': 0, 'Yes': 1},
    'Work Pressure': {'No': 0, 'Yes': 1},
    'Dietary Habits': {'Healthy': 0, 'Unhealthy': 1},
    'Family History of Mental Illness': {'No': 0, 'Yes': 1}
}

data = data.replace(replace_dict)
prepared_data = pd.concat([data, labels], axis=1)

data

/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_49415/4251284203.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data = data.replace(replace_dict)

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,1,49.0,Ludhiana,1,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,0,BHM,No,1.0,2.0,0
1,0,26.0,Varanasi,1,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,1,LLB,Yes,7.0,3.0,0
2,0,33.0,Visakhapatnam,0,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,0,B.Pharm,Yes,3.0,1.0,0
3,0,22.0,Mumbai,1,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,1
4,1,30.0,Kanpur,1,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,1,BBA,Yes,9.0,4.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,1,18.0,Ahmedabad,1,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,1,Class 12,No,2.0,4.0,1
140696,1,41.0,Hyderabad,1,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,1
140697,1,24.0,Kolkata,1,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,0
140698,1,49.0,Srinagar,1,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,0
140699,0,27.0,Patna,0,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,0,BCA,Yes,2.0,3.0,1