In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('../data/train.csv')

data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

# **Cleaning data**

### Gender mapping

In [2]:
data['Gender'].value_counts()

data['Gender'] = data['Gender'].map({'Male': 0, 'Female': 1})

### Age mapping

In [3]:
data.Age.value_counts()
#All good here

Age
56.0    5246
49.0    5099
38.0    4564
53.0    4526
57.0    4395
47.0    4199
46.0    4080
54.0    3928
51.0    3927
18.0    3921
43.0    3856
59.0    3781
48.0    3695
45.0    3535
20.0    3515
50.0    3439
42.0    3393
24.0    3355
28.0    3338
39.0    3262
44.0    3217
41.0    3140
33.0    3140
29.0    3097
40.0    3094
58.0    2932
25.0    2931
23.0    2900
55.0    2846
35.0    2834
21.0    2742
37.0    2724
36.0    2703
19.0    2634
27.0    2613
52.0    2589
34.0    2578
31.0    2560
60.0    2501
26.0    2108
22.0    2066
30.0    1912
32.0    1785
Name: count, dtype: int64

### City mapping

In [4]:
# Using target encoding with cross-validation
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)

city_values = data['City'].copy()

for train_idx, val_idx in kf.split(data):
    city_encoding = data.iloc[train_idx].groupby('City')['Depression'].mean()
    city_values.iloc[val_idx] = data['City'].iloc[val_idx].map(city_encoding)

data['City'] = city_values
data['City'] = data['City'].fillna(data['Depression'].mean())

/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_86116/1534021657.py:13: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['City'] = data['City'].fillna(data['Depression'].mean())

### Working professional or student mapping

In [5]:
working_mapping = {
    'Student': 0,
    'Working Professional': 1
}
data['Working Professional or Student'] = data['Working Professional or Student'].map(working_mapping)

### Profession mapping

In [6]:
#Mapping with target encoding

kf = KFold(n_splits=5, shuffle=True, random_state=42)

city_values = data['Profession'].copy()

for train_idx, val_idx in kf.split(data):
    city_encoding = data.iloc[train_idx].groupby('Profession')['Depression'].mean()
    city_values.iloc[val_idx] = data['Profession'].iloc[val_idx].map(city_encoding)

data['Profession'] = city_values
data['Profession'] = data['Profession'].fillna(data['Depression'].mean())

/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_86116/2624206774.py:12: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Profession'] = data['Profession'].fillna(data['Depression'].mean())

### Academic pressure mapping

In [7]:
data['Academic Pressure'].value_counts()
#All good here

Academic Pressure
3.0    7463
5.0    6296
4.0    5158
1.0    4801
2.0    4179
Name: count, dtype: int64

### Work pressure mapping

In [8]:
data['Work Pressure'].value_counts()
#All good here

Work Pressure
2.0    24373
4.0    22512
5.0    22436
3.0    21899
1.0    21562
Name: count, dtype: int64

### CGPA mapping

In [9]:
data.CGPA.value_counts()
#All good here

CGPA
8.0400    822
9.9600    425
5.7400    410
8.9500    371
9.2100    343
         ...
6.6400      1
7.0625      1
6.9800      1
6.4400      1
6.0900      1
Name: count, Length: 331, dtype: int64

### Study Satisfaction mapping

In [10]:
data["Study Satisfaction"].value_counts()
#All good here

Study Satisfaction
4.0    6360
2.0    5840
3.0    5823
1.0    5451
5.0    4423
Name: count, dtype: int64

### Job Satisfaction mapping

In [11]:
data["Job Satisfaction"].value_counts()
#All good here

Job Satisfaction
2.0    24783
5.0    22812
1.0    22324
3.0    21951
4.0    20920
Name: count, dtype: int64

### Sleep duration mapping

In [12]:

#Sleep duration mapping
sleep_mapping = {
    'Less than 5 hours': 4,
    '5-6 hours': 5.5,
    '7-8 hours': 7.5,
    'More than 8 hours': 9
}
data['Sleep Duration'] = data['Sleep Duration'].map(lambda x: x if x in sleep_mapping.keys() else np.nan)
data['Sleep Duration'] = data['Sleep Duration'].map(sleep_mapping)
data['Sleep Duration'] = data['Sleep Duration'].fillna(data['Sleep Duration'].median())

### Family history of mental illness mapping

In [13]:
data["Family History of Mental Illness"].value_counts()
dict_family_history = {
    'No': 0,
    'Yes': 1
}
data["Family History of Mental Illness"] = data["Family History of Mental Illness"].map(dict_family_history)
# Korras

### Financial stress mapping

In [14]:
data["Financial Stress"].value_counts()
#All good here

Financial Stress
2.0    31451
5.0    28279
4.0    27765
1.0    27211
3.0    25990
Name: count, dtype: int64

### Work/Study hours mapping

In [15]:
data["Work/Study Hours"].value_counts()
#All good here

Work/Study Hours
10.0    14199
11.0    12832
9.0     12711
0.0     12066
12.0    11409
2.0     10595
6.0     10432
7.0      9872
1.0      9802
3.0      9474
5.0      9337
4.0      9065
8.0      8906
Name: count, dtype: int64

### Have you ever had suicidal thoughts mapping

In [16]:
data["Have you ever had suicidal thoughts ?"].value_counts()
dict_suicidal_thoughts = {
    'No': 0,
    'Yes': 1
}
data["Have you ever had suicidal thoughts ?"] = data["Have you ever had suicidal thoughts ?"].map(dict_suicidal_thoughts)

### Degree mapping

In [17]:
rare_degrees = data["Degree"].value_counts()[data["Degree"].value_counts() <= 20].index

print(len(data))
data = data[~data["Degree"].isin(rare_degrees)]


data["Degree"].value_counts()


kf = KFold(n_splits=5, shuffle=True, random_state=42)

data_encoded = data.copy()

data_encoded['Degree_encoded'] = np.nan

for train_idx, val_idx in kf.split(data):
    target_means = data.iloc[train_idx].groupby('Degree')['Depression'].mean()
    
    data_encoded.iloc[val_idx, data_encoded.columns.get_loc('Degree_encoded')] = \
        data.iloc[val_idx]['Degree'].map(target_means)

global_mean = data['Depression'].mean()
data_encoded['Degree_encoded'].fillna(global_mean, inplace=True)

print(data_encoded[['Degree', 'Degree_encoded', 'Depression']].head(10))

data_encoded.drop('Degree', axis=1, inplace=True)
data_encoded = data_encoded.rename(columns={'Degree_encoded': 'Degree'})

# print("\nVerifying the Degree column is now encoded:")
# print(data_encoded['Degree'].head())

data = data_encoded.copy()
data.head()

140700
    Degree  Degree_encoded  Depression
0      BHM        0.171902           0
1      LLB        0.155587           1
2  B.Pharm        0.120531           1
3      BBA        0.131455           1
4      BBA        0.131455           0
5      MCA        0.143228           0
6       MD        0.120734           0
7  B.Pharm        0.118637           0
8      BSc        0.154673           0
9       ME        0.077350           0

/var/folders/1s/n8gj006x063cbj_n6p23fhxc0000gn/T/ipykernel_86116/4239292138.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_encoded['Degree_encoded'].fillna(global_mean, inplace=True)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Degree
0,0,Aaradhya,1,49.0,0.186035,1,0.047389,NaN,5.0,NaN,NaN,2.0,9.0,Healthy,0,1.0,2.0,0,0,0.171902
1,1,Vivan,0,26.0,0.137781,1,0.055411,NaN,4.0,NaN,NaN,3.0,4.0,Unhealthy,1,7.0,3.0,0,1,0.155587
2,2,Yuvraj,0,33.0,0.159042,0,0.181713,5.0,NaN,8.97,2.0,NaN,5.5,Healthy,1,3.0,1.0,0,1,0.120531
3,3,Yuvraj,0,22.0,0.130730,1,0.053929,NaN,5.0,NaN,NaN,1.0,4.0,Moderate,1,10.0,1.0,1,1,0.131455
4,4,Rhea,1,30.0,0.121874,1,0.053828,NaN,1.0,NaN,NaN,1.0,5.5,Unhealthy,1,9.0,4.0,1,0,0.131455

### Dietary habits mapping

In [18]:
rare = data["Dietary Habits"].value_counts()[data["Dietary Habits"].value_counts() <= 20].index

# print(len(data))
data = data[~data["Dietary Habits"].isin(rare)]

# print("Shape before removing rare degrees:", len(data))
# print("\nDietary Habits removed:", list(rare_degrees))
data = pd.get_dummies(data, columns=['Dietary Habits'])

# Dropping columns

In [19]:
# labels = data['Depression']
# data.drop(columns=['Depression'], inplace=True)
data.drop(columns=['id'], inplace=True)
data.drop(columns=['Name'], inplace=True)

# Final preprocessed data

In [20]:
preprocessed_data = data.copy()
preprocessed_data.to_csv('preprocessed_data.csv', index=False)

In [21]:
preprocessed_data.head()

,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Degree,Dietary Habits_Healthy,Dietary Habits_Moderate,Dietary Habits_Unhealthy
0,1,49.0,0.186035,1,0.047389,NaN,5.0,NaN,NaN,2.0,9.0,0,1.0,2.0,0,0,0.171902,True,False,False
1,0,26.0,0.137781,1,0.055411,NaN,4.0,NaN,NaN,3.0,4.0,1,7.0,3.0,0,1,0.155587,False,False,True
2,0,33.0,0.159042,0,0.181713,5.0,NaN,8.97,2.0,NaN,5.5,1,3.0,1.0,0,1,0.120531,True,False,False
3,0,22.0,0.130730,1,0.053929,NaN,5.0,NaN,NaN,1.0,4.0,1,10.0,1.0,1,1,0.131455,False,True,False
4,1,30.0,0.121874,1,0.053828,NaN,1.0,NaN,NaN,1.0,5.5,1,9.0,4.0,1,0,0.131455,False,False,True